/*Su Lai Myint - 613735
    W1D3 Assignment 2 Lab02 About Page
*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #111c6e;
    font-size: 2.2em;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #111c6e;
    font-size: 1.6em;
}
.highlight{
    color: rgb(202, 122, 3);
    font-weight: bold;
    font-style: italic;
}
.highlight-positive{
    color: rgb(230, 9, 138);
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}
p::first-letter{
  font-size: 1.5em;  
}
dl dt{
    color: rgb(202, 122, 3);
    font-weight: bold;
}
body main a:hover{
    color: rgb(202, 122, 3);
}
body .main {    
    text-align: left;
    line-height: 22px;
    
}
body .main section{
    padding: 40px;
}
body .main section article{
    margin-bottom: 30px;;
}
body .main section .txt-itl{
    font-style: italic;
}
body .main section .pop-txt{
    font-weight: bold;
}
ol.reverse{
    counter-reset: my-custom-counter 5;
    list-style: none;
}
ol.reverse li{
    counter-increment: my-custom-counter -1;
}
ol.reverse li::before {
    content: counter(my-custom-counter) '. ';
  }