<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Products Mgmt WebApp - a CS472 Express.JS Demo</title>
    <link rel="stylesheet" href="/static/css/main-styles.css">
</head>
<body>
    <header>
        <nav>
            <ul id="ulNavItems">
                <li>
                    <a id="hyplnkAppBranding" href="/static/html/index.html">
                        : : : My Products Management WebApp : : : a CS472 Express.JS Demo
                    </a>
                </li>
            </ul>
        </nav>
        <div id="divHeaderRightContent">
            <span style="float: right;">Welcome, Guest</span>
        </div>        
    </header>
    <main>
        <h2 style="display:inline-block; color: red;">Oops... Page not found!</h2> | 
        <a href="/product-form">Add a new Product</a>
        <section>
            <article>
                <p>The resource URL you have requested is not available on this server.</p>
                <p>Error 404</p>
            </article>
        </section>
    </main>
</body>
</html>
