<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Products Mgmt WebApp - a CS472 Express.JS Demo</title>
    <link rel="stylesheet" href="/static/css/main-styles.css">
</head>
<body>
    <header>
        <nav>
            <ul id="ulNavItems">
                <li>
                    <a id="hyplnkAppBranding" href="/">
                        : : : My Products Management WebApp : : : a CS472 Express.JS Demo
                    </a>
                </li>
            </ul>
        </nav>
        <div id="divHeaderRightContent">
            <span style="float: right;">Welcome, Guest</span>
        </div>        
    </header>
    <main>
        <h2 style="display:inline-block;">Welcome to the Products WebApp</h2> | 
        <a href="/product/list">Browse Products</a> | 
        <a href="/product/new">Add a new Product</a>
        <section>
            <img src="/static/images/Header_Products_1224x382_EN.jpg" alt="Products Header Image">
        </section>
        <section>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatem corrupti doloribus accusamus vel eligendi, ipsam perspiciatis unde dolore ipsa ducimus dolores labore facere quae!
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatem corrupti doloribus accusamus vel eligendi, ipsam perspiciatis unde dolore ipsa ducimus dolores labore facere quae!
            </p>
        </section>
    </main>
</body>
</html>
